.name-color {
    color: #333;
    font-size: 18px;
}
.input-flex {
    justify-content: space-between;
    margin-bottom: 20px;
    
   
}
.input-bd {
    border: 1px solid #333;
}
.input-wh {
    width: 40.5%;
    height: 28.5px;
   
}
.btn-khachhang-save.btn-save-cl {
    color: #fff;
    background-color: #ff8800;
    border-color: #ff8800;
}
.btn-primary {
    background-color: #ff8800;
    border: none;
}