<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Areas/admin/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/Areas/admin/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/Areas/admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/Areas/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/Areas/admin/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/admin/script/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Areas/admin/content/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Areas/admin/content/images/favicon.png" />
</head>
<body>
    <div class="container-scroller">
        <!-- Begin Header -->
        @Html.Partial("_HeaderAdmin")
        <!-- End Header -->
        <div class="container-fluid page-body-wrapper">
            <!-- Begin Sidebar -->
            @Html.Partial("_SidebarAdmin")
            <!-- End Sidebar -->
            <div class="main-panel">
                <!-- Begin Content -->
                <div class="main-admin">
                    @RenderBody()
                </div>
                <!-- End content-->
                <!-- Begin Footer -->
                @Html.Partial("FooterAdmin")
                <!-- End Footer -->
            </div>

        </div>
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Content/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/Areas/admin/vendors/chart.js/Chart.min.js"></script>
    <script src="~/Areas/admin/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/Areas/admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/Script/js/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Areas/admin/script/js/off-canvas.js"></script>
    <script src="~/Areas/admin/script/js/hoverable-collapse.js"></script>
    <script src="~/Areas/admin/script/js/template.js"></script>
    <script src="~/Areas/admin/script/js/settings.js"></script>
    <script src="~/Areas/admin/script/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/Areas/admin/script/js/dashboard.js"></script>
    <script src="~/Areas/admin/script/js/Chart.roundedBarCharts.js"></script>
    <!-- End custom js for this page-->
</body>

</html>




